<style>
body { font: 2em Fontin, serif }

@page { size: A4 landscape; margin: 1cm; margin-top:2cm; }
@media print {
    nav { display: none }
}
img {
    width: 500px;
    height: 500px;
    margin-top: 2cm;
}
h2 {
    color: #555
}
.desc {
width: 50%; 
float: left; 
margin-top: 2cm;
margin-left: 1%
}
</style>

<body>
<div class="desc">
            <h2>WiFi</h2>
            <h1>{{profile.ssid}}</h1>
            <h2>Password</h2>
            <h1>{{profile.psk}}</h1>
</div>
<div style="width: 48%; float: left">
    <img src="{{ qrcode(qr_string) }}">
</div>
</body>
