<style>

body { font: 2em Fontin, sans-serif }

@page { size: A3 landscape; margin: 1cm; }
@media print {
    nav { display: none }
}
img {
    width: 500px;
    height: 500px;
    margin-top: 2cm;
}
h1 {
    font-size: 260%;
}
h2 {
    color: #555;
    margin-bottom: -50px;
}
.desc {
width: 50%; 
float: left; 
margin-top: 2cm;
margin-left: 1%
}
.logos #ntk {
    width: 504px;
    height: 324px;
    margin-top: -1cm;
}
.logos #wifi {
    width: 304px;
    height: 195px;
    position: absolute;
    right: 100px;
    top: 0;
}
.qrcode {
width: 48%; 
float: left;
}
.qrcode img {
    float: right;
}
</style>

<body>
<div class="logos">
    <img id="ntk" src="/static/img/ntk-logo.png">
    <img id="wifi" src="/static/img/wifi-logo.svg">
</div>
<div class="desc">
            <h2>SSID</h2>
            <h1>{{profile.ssid}}</h1>
            <h2>Password</h2>
            <h1>{{profile.psk}}</h1>
</div>
<div  class="qrcode">
    <img src="{{ qrcode(qr_string) }}">
</div>
</body>
